<div class="issue-heading">
  <div class="container">
    <%= @issue.title %>
    <%= link_to '删除活动', issue_path(@issue), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
    <%= link_to '修改活动', edit_issue_path(@issue), class: "btn btn-primary" %>
  </div>
</div>
<div class="container">
  <div class="replies">
    <article class="reply clearfix">
      <div class="avatar">
        <img src="http://gravatar.com/avatar/1354684.png?s=512&amp;d=retro" alt="" class="image-circle">
      </div>
      <div class="body">
        <div class="heading">
          <h5 class="name"><a href="#">happypeter</a></h5>
        </div>
        <%= @issue.content %>
      </div>
    </article>
  </div>
</div>