<div class="information">
	<div class="user_image"><%= image_tag @current_user.avatar, class: 'image_user1' %></div>
	<div class="user_name"><%= @current_user.name %></div>
	<hr/>
	<div class="activity">
		<h3>你所发布的活动都在下面了....</h3>
	</div>
	<div class="user_issue">
		<%= render partial: 'shared/userissue_list', locals: {issues: @current_user.issues} %>
	</div>
</div>