<%users.each do |user| %>
  <table>
  	<tr>
  		<td><%= image_tag user.avatar, class: 'image_user' %></td>
  		<td><%= link_to user.name, "#" %></td>
  		<td><%= link_to "删除", "#" ,class: "btn btn-primary" %></td>
  		<td><%= link_to "修改", "#" ,class: "btn btn-primary" %></td>
	</tr>
  </table>
<% end %>