<div class="container clearfix">
  <div class="issue-list">
    <article class="issue clearfix">
      <div class="avatar">
        <a href="/happypeter">
          <img src=http://gravatar.com/avatar/1354684.png?s=512&amp;d=retro alt=""></a>      
        </div>
      <div class="body">
        <h5 class="title">
          <a href="#">Ruby 爱好者</a>
        </h5>
        <a class="read-more" href="#">read</a>
        <span class="meta-data">
          <a href="/#">lichen</a>
        </span>
      </div>
      <div class="issue-comment-count">
        <a href="/#">
          4
        </a>
      </div>
    </article>
  </div>
</div>