 <div class="home-banner" data-stretch="<%= image_url "bj.jpg" %>">
 	<div class="banner-inner container clearfix">
		<h1>It's Party Time Drinkup!</h1>
		<p class="subheading">你好用户~</p>
		<div class="home-banner-links">
    		<%= link_to "发布新活动", "/issues/new", class: "banner-btn btn" %>
		</div>
	</div>
</div>
<div class="issue-list-header">
	<div class="container clearfix">
		<h1>所有的活动都在下面了....</h1>
	</div>
</div>
<div class="container clearfix">
	<div class="container clearfix">
		<%= render partial: 'shared/issue_list', locals: {issues: @issues} %>
	</div>
</div>
<script>
    $('.home-banner').anystretch();
    var hideNotice = function(){
      $(".notice").fadeOut("slow");
    }
    setTimeout(hideNotice, 2000)
</script>