
 <div class="home-banner"  style="background:url(<%= image_url "bj.jpg" %>) no-repeat;  background-size: 100% 100%;">
 	<div class="banner-inner container clearfix">
  <h1>It's Party Time!</h1>
  <p class="subheading">hello world</p>
  <div class="home-banner-links">
    <%= link_to "发布新活动", "#", class: "banner-btn btn" %>
  </div>
</div>
 </div>
 	

<script>
    $('.home-banner').anystretch();
</script>