.navbar {
  background: #222;
  position: relative;
  z-index: 1000;
   a {
    color: #fff;
  }
}
.navbar a:hover {
  color: #c0865e;
}
.navbar-brand {
  float: left;
  padding-left: 0;
  line-height: 80px;
  font-size: 40px;
}
.nav.left {
  float: left;
  margin-left: 40px;
  font-size: 15px;
}
.nav.right {
  float: right;
}
.nav  li {
  float: left;
}
.nav  li  a {
  display: block;
  font-size: 1.1em;
  line-height: 40px;
  padding: 5px 10px;
  margin: 15px 10px;
}
.nav  li  a:hover {
  color: #000;
  background: #fff;
}
.footer {
  border-top: 1px solid #c5c5c5;
  margin: 3em 0;
  padding: 20px 0px;
  background: #6cd4f7;
}
.home-banner {
  height: 1000px;
  width: 100%;
  margin-top: -80px;
}
.container{
  a{
    color:#ffffff;
  }
}