.signup-form-container, .login-form-container{
  width: 670px;
  margin: 50px auto;
  border:1px solid #ddd;
  padding: 2em;
  .signup-form, .login-form {
    width: 100%;
  }
  .signup-button, .login-button {
    padding: 13px;
    margin-top: 15px;
    width: 100%;
  }
}
.remember-me {
  * {
    width: auto;
  }
  #remember_me {
    margin-left: 0;
  }
}
.show_users{
  margin:10px 20em;
  .user_info{
    height: 10em;
    background-color: red;
  }
  td{
    padding-top: 10px;
    padding-left: 20px; 
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    
  }
  .setting_btn{
    width: 90em;
    a{
      margin-right: 15px;
      float: right;
    }
  }
  .image_user{
    height: 40px;
    width: 40px;
    margin-top: 5px;
    border-radius: 50px;
  }
}
.user_edit{
  margin-top: 40px;
  margin-left: 45em;
  margin-right: 45em;
  td{
    width: 100em;
    #post_category1{
      width: 1em;
    }
    #post_category2{
      width: 2em;
      margin-top: -10px;
    }
  }

}
.information{
  text-align: center;
  margin-top: 50px;
  .image_user1{
    height: 10em;
    width: 10em;
    border-radius: 50%;
  }
  .user_name{
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
    color: black;
  }
  hr{
    margin: 20px 400px;
  }
  .user_issue{
    margin:0px 400px;
  }
  .body{
    margin-left: -300px;
  }
  .user_issue_delete{
    height: 40px;
    width: 100px;
  }
}